<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>projectVersion</param-name>
        <param-value>${project.version}</param-value>
    </context-param>

    <context-param>
        <param-name>jrxml.paths</param-name>
        <param-value>${jrxml.paths}</param-value>
    </context-param>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>REST</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
    </security-constraint>
    
</web-app>
